@font-face {
  font-family: 'A-Dripping-Marker';
  src: url('../assets/adrip1.ttf') format('opentype');
}


#gifmodal {
  position: absolute;
  z-index: 10;
}

li {
	list-style: none;
}



/***********************
/* navigation styles 
***********************/

#navigation {
  padding: 0;
}

.navbar {
  margin: 0;
}


/***********************
/* header styles 
***********************/

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%
}

#heading:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background: url("http://i.imgur.com/1Re4ZAZ.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#title {
	font-family: 'A-Dripping-Marker';
	font-size: 15em; 
}

#tagline {
	font-family: 'Yesteryear', cursive;
	color: #f759c2;
	font-size: 6em;
}