@font-face {
  font-family: 'A-Dripping-Marker';
  src: url('../assets/adrip1.ttf') format('opentype');
}

body {
  height: 100%;
}

li {
	list-style: none;
  top: 0;
}

a {
	color: #f759c2;
}

fieldset {
  width: 50%;
  margin: 0 auto;
}

/***********************
/* modal styles
***********************/

#gifmodal, #musicmodal, #litmodal {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

#gifmodal .modal-body {
  max-height: 100%;
  overflow: auto;
}

#musicmodal .modal-body {
  max-height: 100%;
  overflow: auto;
}

#litmodal .modal-body {
  max-height: 100%;
  overflow: auto;
}

.modal-header {
	background: linear-gradient(to right, #06BEE0, #C704F6);
	color: #06BEE0;
}

#modal-title {
  display: inline-block;
}

#closebutton {
	float:right;
}

/*.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}*/

#comment-item {
  text-align: left;
}

#article-info {
  text-align: left;
}




/***********************
/* navigation styles
***********************/

#navigation {
  padding: 0;
}

.navbar {
  margin: 0;
  font-weight: bold;
}

.site-nav a {
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:hover:after {
  width: 100%;
  background: #06BEE0;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:hover {
  cursor: pointer;
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}


/***********************
/* header styles
***********************/

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  padding-top: 3%;
  padding-bottom: 1%
}

#heading:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  background: url("https://i.pinimg.com/originals/5a/6e/9e/5a6e9e93166a0344228e918d045c7d2b.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#title {
	font-family: 'A-Dripping-Marker';
	color: #f759c2;
	font-size: 15em;
	text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}

#tagline {
	font-family: 'Yesteryear', cursive;
	color: #f759c2;
	font-size: 6em;
}

/***********************
/* about styles
***********************/

#about {
	margin: 5% 2%;
	text-align: center;
}

#icon-gif, #icon-music, #icon-lit {
	font-size: 6em;
}

#about a {
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#about a:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#about a:hover:after {
  width: 100%;
  background: #06BEE0;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
#about a:hover {
  cursor: pointer;
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}


/***********************
/* gif section styles
***********************/

#gif-container {
	width: 100%;
	padding-bottom: 5%;
}

#gif-jumbotron  {
	background-color: white;
  background: linear-gradient(to right, #06BEE0, #C704F6);
	width: 100%;
	text-align: center;
	padding: 8%;
}

#gif-jumbotron h1 {
	font-family: 'A-Dripping-Marker';
	font-size: 7em;
	color: #fff;
}

#gif-container img {
	height: 20em;
	width: 30em;
}

div #gif-item {
  margin-top: 4%;
  margin-bottom: 1%;
}

/***********************
/* music section styles
***********************/

#music-container {
	width: 100%;
	padding-bottom: 5%;
}

#music-jumbotron  {
	background-color: white;
  background: linear-gradient(to right, #06BEE0, #C704F6);
	width: 100%;
	text-align: center;
	padding: 8%;
  margin-bottom: 0;
}

#music-jumbotron h1 {
	font-family: 'A-Dripping-Marker';
	font-size: 7em;
	color: #fff;
}

div #music-item {
  margin-top: 4%;
  margin-bottom: 1%;
}

#music-list {
  margin-left: 5%;
}



/***********************
/* lit section styles
***********************/

#lit-container {
	width: 100%;
	padding-bottom: 5%;
}

#lit-jumbotron  {
	background-color: white;
  background: linear-gradient(to right, #06BEE0, #C704F6);
	width: 100%;
	text-align: center;
	padding: 8%;
}

#lit-jumbotron h1 {
	font-family: 'A-Dripping-Marker';
	font-size: 7em;
	color: #fff;
}

div #lit-item {
  margin-top: 4%;
  margin-bottom: 1%;
}

#lit-list {
  margin-left: 5%;
}

#lit-button {
  background-color: #f759c2; 
}

#lit-button a {
  color: #ffffff; 
}



/***********************
/* footer styles
***********************/


footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold; 
    text-align: center;
    margin-top: 20%;
    padding: 2%;
  }

  footer span {
    color: #f759c2;
  }
