<!--  Login Form -->
  <div id="login" class="text-center" ng-if=user.loginForm>
    <h1>Login</h1>
    <form ng-submit="user.login();">
      <div class="form-group">
        <input class="form-control" type="email" ng-model="user.loginEmail" placeholder="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" ng-model="user.loginPassword" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary" >Login</button>
    </form>
      <h5>{{user.message}}</h5>
        Don't have an account? 
        <button class="btn btn-default" ng-click="user.toggleForms()">Sign up!</button>
    </div>
<!-- Register Form -->
  <div id="register" class="text-center" ng-if=user.registerForm>
    <h1>Sign Up Here</h1>
    <form ng-submit="user.register();">
      <div class="form-group">
        <input class="form-control" type="email" ng-model="user.registeredEmail" placeholder="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" ng-model="user.registeredPassword" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary" >Register</button>
    </form>
    <br/>
        Already Registered?
        <button class="btn btn-default" ng-click="user.toggleForms()">Login</button>
    </div>

  


