<!--  Login Form -->
  <div class="" ng-if=user.loginForm>
    <h1>Login</h1>
    <form ng-submit="user.login();">
      <input type="email" ng-model="user.loginEmail" placeholder="email"><br/>
      <input type="password" ng-model="user.loginPassword" placeholder="password"><br/>
      <button type="submit" class="btn btn-default" >login</button>
      <h5>{{user.message}}</h5>
    </br>
    Need to Register?
    <button ng-click="user.toggleForms()">Register Here</button>
    </form>
</div>
<!-- Register Form -->
  <div class="" ng-if=user.registerForm>
    <h1>Register</h1>
    <form ng-submit="user.register();">
      <input type="email" ng-model="user.registeredEmail" placeholder="email"><br/>
      <input type="password" ng-model="user.registeredPassword" placeholder="password"><br/>
      <button type="submit" class="btn btn-default" >register</button>
    </br>
    Already Registered?
    <button ng-click="user.toggleForms()">Login Here</button>
    </form>
  </div>
