<div ng-controller="GifController as gif">

  <h1> gifs on gifs </h1>
  <button ng-click="gif.toggleNewDisplay()">add New Gif</button>
  <div ng-if="gif.newDisplay"> <!-- this will be toggle viewed from an add Gif button-->
    <form ng-submit="gif.addGif()">
      <input type="text" placeholder="gif name" ng-model="gif.name"><br/>
      <input type="text" placeholder="gif url" ng-model="gif.url"><br/>
      <input type="text" placeholder="gif tag" ng-model="gif.tag"><br/>
      <button type="submit">Create Gif</button>
    </form>
  </div>

  <div>
    <h5>All DA GIFS</h5>
    <ul>
      <li ng-repeat="giphy in gif.allGifs" ng-click="gif.setCurrentGif(giphy._id)">{{giphy.name}}</li>
    </ul>

    <!-- edit form -->
    <div>
      <form ng-submit="gif.updateGif(gif.currentGif._id)">
        <input type="text" placeholder="{{gif.currentGif.name}}" ng-model="gif.editedGif.name"><br/>
        <input type="text" placeholder="{{gif.currentGif.url}}" ng-model="gif.editedGif.url"><br/>
        <input type="text" placeholder="{{gif.currentGif.tag}}" ng-model="gif.editedGif.tag"><br/>
        <button type="submit" ng-click="gif.updateGif(gif.currentGif._id)">Edit {{gif.currentGif.name}}</button>

      </form>
      {{gif.currentGif._id}}
    </div>
    <button ng-click="gif.deleteGif(gif.currentGif._id)">Delete</button>
  </div>
</div>
