<div ng-controller="LitController as lit">

<div class="container" id="lit-container">
  <div class="row">

  <div class="jumbotron" id="lit-jumbotron">
    <h1> Lit about Lit </h1>
    <h4> Yak It Up About All That Yakking, Help Get That Female Word Count Achieved for the Day</h4>

   <!-------- Add New Lit Button ------>
  <div class="col-lg-12">
    <button class="btn btn-default" type="submit" ng-click="lit.toggleNew(); lit.addForm.reset()">Add New Lit Post</button>
  </div>

  <!-------- Add New Lit Form ------>
  <div ng-if="lit.newDisplay">
    <form ng-submit="lit.addLit()">
    <fieldset>
      <div class="form-group">
            <input class="form-control" id="lit-title" placeholder="Enter the title of your article, books, etc." type="text" ng-model="lit.postTitle">
          </div>
          <div class="form-group">
            <input class="form-control" id="link" placeholder="Enter URL" type="URL" ng-model="lit.url">
          </div>
          <div class="form-group">
            <input class="form-control" id="description" type="text" placeholder="Give a brief description of this item" ng-model="lit.description">
          </div>
          <div class="form-group">
            <input class="form-control" id="tag" type="text" placeholder="Tag(s)" ng-model="lit.tag">
          </div>
          <div class="form-group">
              <button type="reset" class="btn btn-default">Reset</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div><!--end new-display -->
    </div><!-- end jumbotron -->

    <!-------- Lit Modal ------>
    <div ng-if="lit.modal" id="litmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <!---- Close Button ---->
          <span id="closebutton" class="text-top"><button class="btn btn-default" ng-click="lit.toggleModal()">X</button></span>
        </div>
        <div class="modal-body">
          <h1>{{lit.currentLit.postTitle}}</h1>
          <div id="article-info">
            <ul ng-click="lit.toggleModal()">
              <li><strong>Description:</strong><span> {{lit.currentLit.description}}</span></li><br/>
              <li><span>
                <a href="{{lit.currentLit.url}}">Read Me Here</a></span></li><br/>
              <li><strong>Tag(s):</strong><span> {{lit.currentLit.tag}}</span></li><br/>
              <p><strong> Posted by: </strong>{{lit.currentLit.author}}</p>
            </ul>
          </div>
        </div>
        <!---- Tabs ---->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link-active" href="#litcomment" data-toggle="tab" role="tab">Comments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#litedit" data-toggle="tab" role="tab">Edit</a>
              </li>
            </ul>
            <div class="tab-content">
            <!---- Tab 1 Content ---->
              <div class="tab-pane fade in show active" id="litcomment" role="tabpanel">
               <!---- New Comment Form ---->
               <h2>Leave a Comment</h2>
                  <form id="commentForm" ng-submit="lit.addComment(lit.currentLit._id); lit.upComment(lit.currentLit._id)">
                  <fieldset>
                    <div class="form-group">
                      <textarea class="form-control" type="text" id="comments" ng-model="lit.commentedLit.comments">What's on your mind?</textarea>
                      <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                  </fieldset>
                  </form>
                <!----  All Comments ---->
                <ul id="comment-list">
                  <li ng-repeat="comment in lit.currentLit.comments track by $index">
                    <div class="col-md-4" id="comment-item">
                      <p>{{comment}}<p>
                      <hr></hr>
                    </div>
                  </li>
                </ul>
              </div>
            <!---- Tab 2 Content ---->
              <div class="tab-pane fade" id="litedit" role="tabpanel">
                <!---- Edit Form ---->
                <button class="btn btn-danger" ng-click="lit.deleteLit(lit.currentLit._id)">Remove This Article/Book</button>
                <h3>Need to Make Changes?</h3>
                  <form id="litForm" ng-submit="lit.updateLit(lit.currentLit._id)" ng-click="lit.addForm.reset()">
                  <fieldset>
                    <div class="form-group">
                      <input class="form-control" id="description" type="text" placeholder="{{lit.currentLit.description}}" ng-model="lit.editedLit.description">
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="url" type="text" placeholder="{{lit.currentLit.url}}" ng-model="lit.editedLit.url">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="{{lit.currentLit.tag}}" ng-model="lit.editedLit.tag">
                    </div>
                    <div class="form-group">
                      <button ng-click="lit.toggleModal()">Cancel</button>
                      <button type="submit" ng-click="lit.updateLit(lit.currentLit._id)">Confirm</button>
                    </div>
                  </fieldset>
                  </form>
                </div>
              </div><!-- end tab 2 -->

            </div> <!-- end tab content -->
          </div><!-- end modal body -->
        </div>
      </div>
    </div>

  <!----  All Lit ---->
  <div class="row" id="display">
    <ul id="lit-list">
      <li ng-repeat="allLit in lit.allLits" ng-click="lit.setCurrentLit(allLit._id)">
        <div class="col-md-4" id="lit-item">
          <button class="btn btn-default" id="lit-button"><a href="{{allLit.url}}">{{allLit.postTitle}}</a></button>
          <div id="action-icons">
            <button class="btn btn-default" ng-click="lit.toggleModal()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" ng-click="lit.likeLit(allLit._id)"><span class="glyphicon glyphicon-heart"><b> {{allLit.likes}}</b></span></button>
            <button class="btn btn-default" ng-click="lit.toggleModal()"><span class="glyphicon glyphicon-comment"><b>  {{allLit.commentCount}}</b></span></button><br/>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div><!-- end row -->
</div><!-- end container -->
