<div ng-controller="LitController as lit">

<div class="container" id="lit-container">
  <div class="row">

  <div class="jumbotron" id="lit-jumbotron">
    <h1> Lit about Lit </h1>
    <h4> Yak It Up About All That Yakking, Help Get That Female Word Count Achieved for the Day</h4>

   <!-------- Add New Lit Button ------>
  <div class="col-lg-12">
    <button class="btn btn-default" type="submit" ng-click="lit.toggleNew()">Add New Lit Post</button>
  </div>

  <!-------- Add New Lit Form ------>
  <div ng-if="lit.newDisplay">
    <form ng-submit="lit.addLit()">
    <fieldset>
      <div class="form-group">
            <input class="form-control" id="lit-title" placeholder="Enter the title of your article, books, etc." type="text" ng-model="lit.postTitle">
          </div>
          <div class="form-group">
            <input class="form-control" id="author" placeholder="Enter author's name" type="text" ng-model="lit.author">
          </div>
          <div class="form-group">
            <input class="form-control" id="link" placeholder="Lit URL" type="URL" ng-model="lit.url">
          </div>
          <div class="form-group">
            <input class="form-control" id="description" type="text" placeholder="Give a brief description of this item" ng-model="lit.description">
          </div>
          <div class="form-group">
            <input class="form-control" id="tag" type="text" placeholder="Tag(s)" ng-model="lit.tag">
          </div>
          <div class="form-group">
              <button type="reset" class="btn btn-default">Reset</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div><!--end new-display -->
    </div><!-- end jumbotron -->

    <!-------- Lit Modal ------>
    <div ng-if="lit.modal" id="litmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <!---- Close Button ---->
          <span id="closebutton" class="text-top"><button class="btn btn-default" ng-click="lit.toggleModal()">X</button></span>
        </div>
        <div class="modal-body">
          <h1>{{lit.currentLit.postTitle}}</h1>
          <ul ng-click="lit.toggleModal()">
            <li><strong>Post Title:</strong><span>{{lit.currentLit.postTitle}}</span></li><br/>
            <li><strong>Post Author:</strong><span>{{lit.currentLit.author}}</span></li><br/>
            <li><strong>Post URL:</strong><span>
              <a href="{{lit.currentLit.url}}">Content Link</a></span></li><br/>
            <li><strong>Post Description:</strong><span>{{lit.currentLit.description}}</span></li><br/>
            <li><strong>Post Tag(s):</strong><span>{{lit.currentLit.tag}}</span></li><br/>
          </ul>
        </div>
        <!---- Edit Button ---->
        <button class="btn btn-primary" ng-click="lit.toggleEdit()">Edit</button>
        <!---- Delete Button ---->
        <button class="btn btn-default" ng-click="lit.deleteLit(lit.currentLit._id)">Delete</button>
        <!---- Edit Form ---->
        <div ng-if="lit.editDisplay">
          <form id="add-form" ng-submit="lit.updateLit(lit.currentLit._id)" ng-click="addForm.reset()">
          <fieldset>
            <div class="form-group">
              <input class="form-control" id="post-title" type="text" placeholder="Enter the title of your article, books, etc." ng-model="lit.editedLit.postTitle">
            </div>
            <div class="form-group">
              <input class="form-control" id="author" type="text" placeholder="Enter author's name" ng-model="lit.editedLit.author">
            </div>
            <div class="form-group">
              <input class="form-control" id="url" type="url" placeholder="Lit URL" ng-model="lit.editedLit.url">
            </div>
             <div class="form-group">
              <input class="form-control" id="comment" type="text" placeholder="Give a brief description of this item" ng-model="lit.editedLit.comment">
            </div>
             <div class="form-group">
              <input class="form-control" id="tag" type="text" placeholder="Tag(s)" ng-model="lit.editedLit.tag">
            </div>
            <div class="form-group">
              <button ng-click="lit.currentLit.postTitle = null">Cancel</button>
              <button type="submit" ng-click="lit.updateLit(lit.currentLit._id)">Confirm</button>
            </div>
          </fieldset>
          </form>
        </div><!--  end music display -->
        <!-- Comment Section -->
        <!---- Comment Button ---->
          <button class="btn btn-primary" ng-click="lit.toggleComment()">Comment</button>
          <!--
          -comment display to show all commented getComment()
          -toggle showing comment section based on which button was clicked ng-show/ng-hide -->
        <!---- New Comment Form ---->
          <div ng-if="lit.commentDisplay">
            <form id="commentForm" ng-submit="lit.addComment(lit.currentLit._id); lit.upComment(lit.currentLit._id)">
            <fieldset>
              <div class="form-group">
                <input class="form-control" id="comments" type="textarea" placeholder="What's on your mind?" ng-model="lit.currentLit.comments">
              </div>
              <div class="form-group">
                <button ng-click="lit.toggleModal(); lit.toggleComment()">Cancel</button>
                <button type="submit">Confirm</button>
              </div>
            </fieldset>
            </form>
        </div><!--  end comment display -->
         <!----  All Comments ---->
          <div class="row" id="display">
          Comments:
          {{lit.currentLit.comments}}
          </div>
        </div>
      </div>
    </div>
  </div


  <!----  All Lit ---->
  <div class="row" id="display">
    <ul id="lit-list">
      <li ng-repeat="allLit in lit.allLits" ng-click="lit.setCurrentLit(allLit._id)">
        <div class="col-md-4" id="lit-item">
          <button class="btn btn-default" id="lit-button"><a href="{{allLit.url}}">{{allLit.postTitle}}</a></button>
          <div id="action-icons">
            <button class="btn btn-default" ng-click="lit.toggleModal(); lit.toggleEdit()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" ng-click="lit.likeLit(allLit._id)"><span class="glyphicon glyphicon-heart"><b> {{allLit.likes}}</b></span></button>
            <button class="btn btn-default" ng-click="lit.toggleModal(); lit.toggleComment()"><span class="glyphicon glyphicon-comment"><b>  {{allLit.commentCount}}</b></span></button><br/>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div><!-- end row -->
</div><!-- end container -->
