
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>



<div ng-controller="MusicController as music">

<div class="container">
  <div class="row">

  <div class="jumbotron">
    <h1>M U S I C</h1>
    <h4>Badass Songs for Badass Babes</h4>

<!--     Add New Track Section -->
    <div class="col-lg-10">
      <button class="btn btn-success" type="submit" ng-click="music.toggleNewDisplay()">Add A New Track</button>
      <div ng-if="music.newDisplay">
        <form ng-submit="music.addMusic()">
          <input type="text" placeholder="name" ng-model="music.name"><br/>
          <input type="text" placeholder="artist" ng-model="music.artist"><br/>
          <input type="text" placeholder="link" ng-model="music.link"><br/>
          <input type="text" placeholder="tag" ng-model="music.tag"><br/>
          <input type="text" placeholder="author" ng-model="music.author"><br/>
          <input class="ng-hide" type="text" placeholder="embed" ng-model="music.embed" value=''><br/>
          <button class="btn btn-default" type="submit">Add Song</button>
        </form>
      </div>
    </div>
    </div>

  <div>

<!--     List of all Tracks with Modal for More Info-->

    <ul>
      <li ng-repeat="song in music.allMusic" ng-click="music.setCurrentMusic(song._id)">
        <a href="#">{{song.name}}</a> by: {{song.artist}}<br/>
        Spotify iFrame With Angular:<br/> <iframe ng-src="https://open.spotify.com/embed/" + "{{song.link}}" + " width="300" height="80" frameborder="0" allowtransparency="true"></iframe><br/>
        </li>
    </ul>


    <!--    Modal -->
    <div ng-if="music.modal" id="musicmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title"  id="musicModalLabel">{{music.currentMusic.name}} - {{music.currentMusic.artist}} </h1>
            <button class="btn btn-default" ng-click="music.toggleModal()">X</button>
          </div>
          <div class="modal-body">
            With Angular: <br/> <iframe ng-src="https://open.spotify.com/embed/" + "{{song.link}}" + " width="300" height="380" frameborder="0" allowtransparency="true"></iframe> <br/>
            <!-- button to show the edit form -->
            <button class="btn btn-primary" ng-click="music.toggleEdit()">Edit {{giphy.name}}</button>

      <!--   Delete Button -->
          <button class="btn btn-default" ng-click="music.deleteMusic(music.currentMusic._id)">Delete</button>

    <!--     Edit Form -->
        <div class="form-group" ng-if="music.editDisplay">
          <form ng-submit="music.updateMusic(music.currentMusic._id)">
            <input type="text" placeholder="{{music.currentMusic.name}}" ng-model="music.editedMusic.name"><br/>
            <input type="text" placeholder="{{music.currentMusic.artist}}" ng-model="music.editedMusic.artist"><br/>
            <input type="text" placeholder="{{music.currentMusic.link}}" ng-model="music.editedMusic.link"><br/>
            <input type="text" placeholder="{{music.currentMusic.tag}}" ng-model="music.editedMusic.tag"><br/>
            <input type="text" placeholder="{{music.currentMusic.author}}" ng-model="music.editedMusic.author"><br/>
            <button type="submit" ng-click="music.updateMusic(music.currentMusic._id)">Confirm</button>
            <button class="" ng-click="music.currentMusic.name = null">Cancel</button>
          </form>
          {{music.currentMusic._id}}
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>


</div><!-- end row -->
</div><!-- end container -->
