<div ng-controller="MusicController as music">

<div class="container" id="music-container">
  <div class="row">

    <div class="jumbotron" id="music-jumbotron">
      <h1>Music</h1>
      <h4>Badass Songs for Badass Babes</h4>

    <!-------- Add New Track Button ------>
    <div class="col-lg-12">
      <button class="btn btn-default" type="submit" ng-click="music.toggleNew()">Add A New Track</button>
    </div>

    <!-------- Add New Music Form ------>
    <div ng-if="music.newDisplay">
      <form ng-submit="music.addMusic()">
        <fieldset>
          <div class="form-group">
            <input class="form-control" id="link" placeholder="Song URL" type="text" ng-model="music.link">
          </div>
          <div class="form-group">
            <input class="form-control" id="tag" placeholder="Tag your song" type="text" ng-model="music.tag">
          </div>
          <div class="form-group">
            <input class="form-control" id="author" placeholder="Enter your name" type="text" ng-model="music.author">
          </div>
          <div class="form-group">
            <input class="ng-hide" type="text" placeholder="embed" ng-model="music.embed" value=''>
          </div>
          <div class="form-group">
              <button type="reset" class="btn btn-default">Reset</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div><!--  end new-display -->
    </div><!--  end jumbotron -->

     <!-------- Music Modal ------>
    <div ng-if="music.modal" id="musicmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <!---- Close Button ---->
            <span id="closebutton" class="text-top"><button class="btn btn-default" ng-click="music.toggleModal()">X</button></span>
          </div>
          <div class="modal-body">
            <iframe width="300" height="380" frameborder="0" allowtransparency="true" ng-src="{{music.currentMusic.embed}}"></iframe><br/>
            <p> Tag: {{music.currentMusic.tag}}</p>
            <p> Author: {{music.currentMusic.author}}</p>
            <!---- Edit Button ---->
            <button class="btn btn-primary" ng-click="music.toggleEdit()">Edit</button>
            <!---- Delete Button ---->
            <button class="btn btn-default" ng-click="music.deleteMusic(music.currentMusic._id)">Delete</button>
            <!---- Edit Form ---->
            <div ng-if="music.editDisplay">
              <form id="musicForm" ng-submit="music.updateMusic(music.currentMusic._id)">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" id="link" type="text" placeholder="Song URL" ng-model="music.editedMusic.link">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Tag your song" ng-model="music.editedMusic.tag">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Enter your name" ng-model="music.editedMusic.author">
                </div>
                <div class="form-group">
                  <button ng-click="music.toggleModal(); music.toggleEdit()">Cancel</button>
                  <button type="submit" ng-click="music.updateMusic(music.currentMusic._id)">Confirm</button>
                </div>
              </fieldset>
              </form>
            </div><!--  end music display -->
            <!-- Comment Section -->
            <!---- Comment Button ---->
            <button class="btn btn-primary" ng-click="music.toggleComment()">Comment</button>
            <!--
            -comment display to show all commented getComment()
            -iterate comment count upComment()
            -toggle showing comment section based on which button was clicked ng-show/ng-hide
            -->
          <!---- New Comment Form ---->
            <div ng-if="music.commentDisplay">
              <form id="commentForm" ng-submit="music.addComment(music.currentMusic._id)">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" id="comments" type="textarea" placeholder="What's on your mind?" ng-model="music.currentMusic.comments">
                </div>
                <div class="form-group">
                  <button ng-click="music.toggleModal(); music.toggleComment()">Cancel</button>
                  <button type="submit">Confirm</button>
                </div>
              </fieldset>
              </form>
            </div><!--  end comment display -->
           <!----  All Comments ---->
            <div class="row" id="display">
            Comments:
            {{music.currentMusic.comments}}
            </div>
          </div>
        </div>
      </div>
    </div>

  <!----  All Music ---->
  <div class="row" id="display">
    <ul id="music list">
      <li ng-repeat="song in music.allMusic" ng-click="music.setCurrentMusic(song._id)">
        <div class="col-md-4" id="music-item">
          <iframe width="300" height="80" frameborder="0" allowtransparency="true" ng-src="{{song.embed}}"></iframe>
          <div id="action-icons">
            <button class="btn btn-default" ng-click="music.toggleModal(); music.toggleEdit()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-default" ng-click="music.likeMusic(song._id)"><span class="glyphicon glyphicon-heart"><b> {{song.likes}}</b></span></button>
            <button class="btn btn-default" ng-click="music.toggleModal(); music.toggleComment()"><span class="glyphicon glyphicon-comment"><b>  {{song.commentCount}}</b></span></button><br/>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div><!-- end row -->
</div><!-- end container -->
